server:
  port: 8086
spring:
  datasource:
#    url: jdbc:mysql://192.168.5.125:3306/yami_bbc?allowMultiQueries=true&useSSL=false&useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&zeroDateTimeBehavior=convertToNull&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true
    url: jdbc:mysql://127.0.0.1:3306/jh_yami_bbc?allowMultiQueries=true&useSSL=false&useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&zeroDateTimeBehavior=convertToNull&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true
    username: develop
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 0
      maximum-pool-size: 20
      idle-timeout: 25000
      auto-commit: true
      connection-test-query: select 1
  redis:
    host: 127.0.0.1
#    host: 192.168.5.125
    port: 6379
    password: a123456
    timeout: 10000



logging:
  config: classpath:logback/logback-prod.xml
elastic:
  address: http://127.0.0.1:9200
#  address: http://192.168.4.95:9200



