<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.shop.combo.multishop.dao.ComboProdMapper">

  <resultMap id="comboProdMap" type="com.yami.shop.combo.multishop.model.ComboProd">
    <id column="combo_prod_id" property="comboProdId" />
    <result column="combo_id" property="comboId"/>
    <result column="prod_id" property="prodId"/>
    <result column="type" property="type"/>
    <result column="least_num" property="leastNum"/>
    <result column="status" property="status"/>
    <result column="required" property="required"/>
  </resultMap>
  <resultMap id="comboProdSkuMap" type="com.yami.shop.bean.vo.ComboProdVO">
    <result column="prod_id" property="prodId"/>
    <collection property="skuList" ofType="com.yami.shop.bean.vo.ComboProdSkuVO">
      <result column="sku_id" property="skuId"/>
    </collection>
  </resultMap>
  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="comboProdList.comboProdId">
    insert into tz_combo_prod (`combo_id`,`prod_id`,`combo_price`,`type`,`least_num`,`status`,`required`) values
    <foreach collection="comboProdList" item="comboProd" separator=",">
      (#{comboId},#{comboProd.prodId},#{comboProd.comboPrice},#{comboProd.type},#{comboProd.leastNum},#{comboProd.status},#{comboProd.required})
    </foreach>
  </insert>
  <select id="listComboProdByProdId" resultMap="comboProdSkuMap">
    SELECT cp.`prod_id`,cps.`sku_id`
    FROM `tz_combo_prod` cp
      LEFT JOIN `tz_combo_prod_sku` cps ON cp.`combo_prod_id` = cps.`combo_prod_id`
    WHERE cp.`prod_id` = #{prodId}
      AND cp.`status` = 1
  </select>
</mapper>
